body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
  }
.navigation ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.navigation li{
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
}
.navigation  li.logo {
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }
#banner {
    background-image: url("lake_tahoe.jpeg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
  }
#banner .content h1{
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
  }
#main{
    margin: 0 auto;
    padding: 40px;
    width: 400px;
    height: 1000px;
    text-align: center;
    overflow: scroll;
}
h1{
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
}
h2{
    border: 1px dotted red;
    text-align: center;
    color: red;
    font-size: 14px;
    padding: 30px;
    margin: 20px;
}
h3{
    color: red;
    font-size: 26px;
    font-weight: 700;
    padding: 20px;
}
p {
    color: grey;
    font-size: 16px;
    padding: 20px;;
}
.byline{
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.share{
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 40px;
    position: relative;
    text-align: center;
    width: 90%;
}
.share a{
    text-align: center;
    background-color: red;
    border: 1px solid red;
    padding: 20px;
    border-radius: 3px;
    color: white;
    margin: 10px;
}
.share a:hover{
    background-color: white;
    color: black;
}